<div class="container centered">
    <h2>Your results</h2>
    <div id="levels">

    {{#if results}}
        {{#each results.levels}}
            <h3>{{ name }}</h3>

                {{#each subjects}}
                    <h4>{{ name }}</h4>

                    <table border="1" align="center">
                        <tr>
                            <th>Question</th>
                            <th>Points received</th>
                        </tr>
                        {{#each questions}}
                            <tr>
                                <td align="left">
                                    {{question}}
                                </td>
                                <td>
                                    {{points}} points received
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                {{/each}}

        {{/each}}
    {{else}}
        <h3>You don't have any results ....yet.</h3>
    {{/if}}
    

</div>
